@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --everlend-green: #0f392b;
  --everlend-gold: #c5a059;
  --everlend-light: #f8f9fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-everlend-green: var(--everlend-green);
  --color-everlend-gold: var(--everlend-gold);
  --color-everlend-light: var(--everlend-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
