
.form-bg {
width: 100%;
min-height: 100vh;
background: linear-gradient(135deg, #0d6efd, #0a3d62);
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}


.form-card {
    width: 100%;
    max-width: 500px;
    background-color: #c5a059;
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* margin-left: 10%; */
/* opacity: 0.5 */
}


.form-card h1 {
    margin-bottom: 10px;
    /* margin-left: -18rem; */
}


.form-card p {
margin-bottom: 25px;
font-size: 14px;
opacity: 0.8;
}


form input {
width: 100%;
padding: 12px;
margin-bottom: 15px;
background: transparent;
border: none;
border-bottom: 2px solid #eeeeee;
color: #fff;
outline: none;
font-size: 15px;
}


form button {
margin-top: 15px;
padding: 12px 30px;
background: transparent;
border: 2px solid #fff;
color: #fff;
cursor: pointer;
font-weight: bold;
transition: 0.3s;
}


form button:hover {
background: #fff;
color: #2f327d;
}


@media (max-width: 480px) {
.form-card {
padding: 25px;
}


form input {
padding: 10px;
}
}

/* ____________   Table  _______________   */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 18px;
    color: #494949;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #4f4f4f;
    text-align: left;
}

th {
    background: #C5A059;
    font-weight: bold;
    color:white;
}

tr:hover {
    background: #f7f0cb;
}